body { background: #44a948; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-filter-0 { color: #dd3d2a; font-size: 15px; margin-bottom: 5px; }
.block-invoice-1 { color: #46f772; font-size: 12px; margin-bottom: 5px; }
.block-router-2 { color: #c9f569; font-size: 21px; margin-bottom: 5px; }
.block-user-3 { color: #a4a3bc; font-size: 21px; margin-bottom: 5px; }
.block-user-4 { color: #4159e5; font-size: 14px; margin-bottom: 5px; }